* {
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #111111;
}

header{
  background-color: #2B2B2B;
  height: 75px;
}

#wrapper{
  width: 80%;
}

.steambutton {
  display: block;
  background-color: #6f9f31;
  width: 270px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  color: #fff;
  position: absolute;
  right: 12.5px;
  top: 12.5px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
          transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.steambutton span,
.steambutton .icon {
  color: #fff;
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.steambutton span {
  color: #fff;
	font-family:  'Exo 2', sans-serif;
	font-weight: bold;
	letter-spacing: 0.1em;
  width: 75%;
  font-size: 14px;
  text-transform: uppercase;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
          transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.steambutton span:after {
  color: #fff;
  content: '';
  background-color: #5d8628;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.steambutton .icon {
  color: #fff;
  width: 25%;
  right: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
          transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.steambutton .icon .fa {
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
          transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}

.steambutton.success span, .steambutton:hover span {
  color: #fff;
  left: -72%;
  opacity: 0;
}
.steambutton.success .icon, .steambutton:hover .icon {
  color: #fff;
  width: 100%;
}
.steambutton.success .icon .fa, .steambutton:hover .icon .fa {
  color: #fff;
  font-size: 45px;
}
